/**********************************MENU BAR********************************************/
html {
	margin-bottom: 0px;
}
.navbar {
	position: relative;
	top: 120px;
	background-image: url('../img/pinkPattern.png');
	background-repeat: repeat-x 0 100%; 
	height: 70px;
	margin-bottom: 0px;
	border-bottom: 1px solid gray;
}
.navbar-wrapper .container {
	
	height: 72px;
	
}
/*LIFE SKILZ LOGO in Navbar*/
/*moved the lifeskil down 10px*/
.navbar-header{
	padding-top: 10px;	
}
/*changed the font of Lifeskilz*/
.navbar-brand{
	font-size: 25px;
}
/*changed menu items and moved them center and over left as far 
as i could*/
.navbar-collapse {
	font-size: 16px;
	padding-top: 10px;
	padding-left: 500px;
}

/*The gray portion at the top*/
.navbar-wrapper{
	background-color: #535353;
	margin: 0px;
	height: 130px;
}
/**********************************CAROUSEL********************************************/
#myCarousel{
	position: relative;
	top: 190px;
	min-height: 660px;
	max-height: 700px;
    width: auto;
}

/*How to make this responsive look better
When I fix in chrome it does not in google*/
.carousel-inner, .item, .carousel .item {
	min-height: 660px;
	max-height: 700px;
    width: auto;
}
.carousel-inner > .item > img {
	min-height: 660px;
	max-height: 700px;
    width: auto;

	/*height: 625px;*/
}
.carousel {
	margin-bottom: 0px;
}






.barbottom{
	background-image: url('../img/pinkPattern.png');
	width: auto;
	height: 100px;
	position: relative;
	top: 162px;
	background-repeat: repeat-x 0 100%;
	border-bottom: 4px solid gray;
}

.mack1{
	position: relative;
	top: 350px;
	background-repeat: no-repeat;
	
}

#aboutEdMack{
	margin: .5em;
	padding-top: 21px;
	text-align: center;
	font-size: 55px;
	color: black;
	/*border: 3px solid white;*/
}
