/**********************************MENU BAR********************************************/
html {
	margin-bottom: 0px;
}
body {
	font-size: 100%;
    line-height: 1.6875;
    padding-bottom: 0px;
}

.navbar {
	position: relative;
	top: 47px;
	background-image: url('../img/pinkPattern.png');
	background-repeat: repeat-x 0 100%; 
	height: 70px;
	margin-bottom: 0px;
	border-bottom: 1px solid gray;
}
.navbar-wrapper .container {
	height: 72px;
	
}
/*LIFE SKILZ LOGO in Navbar*/
/*moved the lifeskil down 10px*/
.navbar-header{
	padding-top: 10px;	
}
/*changed the font of Lifeskilz*/
.navbar-brand{
	font-size: 25px;
}
/*changed menu items and moved them center and over left as far 
as i could*/
.navbar-collapse {
	font-size: 16px;
	padding-top: 10px;
}

/*The gray portion at the top*/
.navbar-wrapper{
	background-color: black;
	margin: 0px;
	height: 50px;
}
/**********************************CAROUSEL********************************************/
#myCarousel{
    position: absolute;
    top: 116px;
    min-height: 950px;
    max-height: 1300px;
    width: 100%;
 }

 .carousel-inner > .item > img {
   position: absolute;
   width: 100%; 

 }


.carousel-inner {
	min-height: 950px;
    max-height: 1300px;
}

#couple2 {
	min-height: 950px;
    max-height: 1300px;
}
.carousel-caption {
	position: absolute;
	top: 500px;
}
/**********************ABOUT ME MENU BAR********************************/


.barbottom{
	background-image: url('../img/pinkPattern.png');
	width: auto;
	height: 100px;
	position: relative;
	top: 100px;
	background-repeat: repeat-x 0 100%;
	border-bottom: 4px solid gray;
}

.mack1{
	position: relative;
	top: 250px;
	background-repeat: no-repeat;
	
}

.header{
	margin: .5em;
	padding-top: 33px;
	text-align: center;
	font-size: 325%;
	color: black;
	/*border: 3px solid white;*/
}
.commandHeader{
	margin: .5em;
	padding-top: 14px;
	text-align: center;
	font-size: 325%;
	color: black;
}
#moreme {
	position: relative;
	top: 230px;
	font-style: bolder;
	color: black;
	text-decoration: underline;
}
/************************PARAGRAPHS**********************************/
.p1-1 {
	position: relative;
	top: 250px;
	font-size: 25px;
	line-height: 31px;
	word-wrap: normal;
}
.p1-2 {
	font-style: italic;
	position: relative;
	top: 250px;
	padding-top: 5px;
	font-size: 25px;
	line-height: 31px;
}
.p1-3 {
	padding-bottom: 5px;
	position: relative;
	top: 250px;
	font-size: 25px;
	line-height: 31px;
}
.p2-1  {
	position: relative;
	top: 200px;
	font-size: 25px;
	line-height: 31px;

}
.p2-2 {
	position: relative;
	top: 210px;
	font-size: 28px;
	line-height: 31px;
	color: black;
	font-style: bolder;
}

.p2-3 {
	position: relative;
	top: 220px;
	font-size: 28px;
	line-height: 31px;
	font-style: bolder;
}
.p2-4 {
	position: relative;
	top: 230px;
	font-size: 28px;
	line-height: 31px;
	color: black;
	font-style: bolder;
}
.p2-5 {
	position: relative;
	top: 240px;
	font-size: 28px;
	line-height: 40px;
	font-style: bolder;
}
.p2-6 {
	position: relative;
	top: 250px;
	font-size: 28px;
	line-height: 31px;
	font-style: bolder;
}
.p3-1 {
	position: relative;
	top: 200px;
	font-size: 28px;
	line-height: 31px;
	font-style: bolder;
	text-align: center;
}
.p3-2 {
	position: relative;
	top: 220px;
	font-size: 20px;
	line-height: 26px;
	font-style: bolder;
	text-align: center;
}
table {
	position: relative;
	top: 240px;
	font-size: 20px;
	line-height: 26px;
	font-style: center;
	margin: auto;
	text-align: center;
	border: 3px solid black;
	text-decoration: underline;
}
tr, td {
	border: 1px solid black;
}
td {
	padding: 60px;
	font-style: italic;
}

.footer{
	position: relative;
	top: 300px;
	margin-top: 100px;
	background-color: black;
	height: 400px;
	width: auto;
}