/**********************************MENU BAR********************************************/
.navbar {
	position: relative;
	top: 120px;
	background-image: url('../img/pinkPattern.png');
	background-repeat: repeat-x 0 100%; 
}
.navbar-wrapper .container {
	/*background image will not show up error*/
	height: 68px;
	
}
/*LIFE SKILZ LOGO in Navbar*/
/*moved the lifeskil down 10px*/
.navbar-header{
	padding-top: 10px;	
}
/*changed the font of Lifeskilz*/
.navbar-brand{
	font-size: 25px;
}
/*changed menu items and moved them center and over left as far 
as i could*/
.navbar-collapse {
	font-size: 16px;
	padding-top: 10px;
	padding-left: 500px;
}
/**********************************CAROUSEL********************************************/
#myCarousel{
	position: relative;
	top: 190px;
	height: 625px;
}
.carousel-inner, .item, .carousel .item {
	height: 625px;
}
.carousel-inner > .item > img {
	height: 625px;
}


.navbar-wrapper{
	background-color: #535353;
	margin: 0px;
	height: 130px;
}